
<!--::::Pie de Pagina::::-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="assets/images/logo-web.png" alt="Logo de Crearte">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Sobre nosotros</h2>
                <p>Somos una empresa colombiana que siempre busca la máxima calidad en sus productos.</p>
                <p>Estamos ubicados en la Cra 10 # 20-08 Zipaquirá </p>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>Crearte</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

