.navstyle {
    border-bottom: 1px solid #000000;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
}

.navstyle div {
    display: flex;
    flex-direction: row;
}

.session-button {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #01a896;
}

.navstyle div button mat-icon {
    margin: 5px;
}

.navstyle div p {
    margin: 20px;
}

.navstyle .icon {
    align-self: center;
}

button {
    justify-self: flex-end;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

.login-button {
    padding: 10px;
    background-color: #d5fafc;
    color: #01a896;
}

.register-button {
    padding: 10px;
    background-color: #01a896;
    color: #d5fafc;
}

::ng-deep .mat-menu-panel {
    overflow-x: hidden !important;
    width: 249px !important;
    max-width: 250px !important;
  }